@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: HK Grotesk, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #FFE8B9
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 0.5em;
  font-size: 16px;
}

.toolbox{
  width: fit-content;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

h1{
  width: 100%;
  text-align: center;
}

.tool{
  border-bottom: 3px solid black;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tool img{
  width: 50px;
}

.campingGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0px;
  width: fit-content;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  margin: 0 auto;
}

.square{
  border-top: 3px solid black;
  border-right: 3px solid black;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square img{
  width: 50px;
}